<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=0">
  <title>¢┌ÿP┬o $@ñ┼a</title>
  <link href='//fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="main" class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/about">About</a></li>
          {{> loginButtons }}
        </ul>
      </nav>
    </div>
    <div class="row">
      <h3 class="thumbnail" style="border: #fff">
        <a href="/"><img id="logo" src="/logo.png">
      </a></h3>
    </div>
    {{> Router}}
    <br><br><br>
    <div class="text-center">
      Made by <a href="http://telekommunisten.net">Telekommunisten</a>
      and Crypto Santa's Workshop, <a href="http://werkstatt.tw">
      ThoughtWorks Werkstatt Berlin</a></div>
    <br><br>
  </div>
  <a href="https://github.com/tricknik/santa">
    <img style="position: fixed; top: 0; left: 0; border: 0;" src="/fork.png" alt="Fork me on GitHub">
  </a>
  <script>
    $(document).snowfall({
      image: "/flake.png",
      flakeCount: 24,
      minSize: 10,
      maxSize: 32,
      minSpeed: 0.5,
      maxSpeed: 0.8
    });
    setTimeout(function() {
      $(document).snowfall('clear');
    }, 24000);
  </script>
</body>

