<template name="home">
  {{#if currentUser}}
    <br>
    <div class="alert alert-info text-center" role="alert">
      <h3>Thank You For Using Crypto Santa</h3>
      <p>We're very new and certain versions of Firefox are not
      working well right now.</p>
      <p>If you have trouble, try another browser, the site is well
      tested with Chrome.</p>
      <p>
        To learn more about our Firefox issue, see:
        <a href="https://github.com/aldeed/meteor-autoform/issues/333">Issue 333</a>
      </p>
    </div>
    {{#unless count memberships}}
      <div class="jumbotron">
        <p class="lead">Starting your own <strong>Crypto Santa</strong>
        is easy, just create an event and invite some participants! Events you
        have already created, been invited to or are participating in are
        displayed below</p>
        <p><a class="btn btn-primary btn-lg" href="/create" role="button">Create or delete a Crypto Santa event &raquo;</a></p>
      </div>
    {{else}}
    {{/unless}}
    {{#if count santas}}
      <div class="panel">
        <div class="panel-heading">
          <h2 class="panel-title">Invite People and Start Your Crypto Santas</h2>
        </div>
        <div class="list-group">
          {{#each santas}}
            <a href="/santa/{{_id}}" class="list-group-item">{{event}}</a>
          {{/each}}
        </div>
      </div>
    {{/if}}
    {{#if count memberships}}
      <p><a class="btn btn-primary btn-sm" href="/create" role="button">Create or delete a Crypto Santa event &raquo;</a></p>
      <br><br>
      <div class="panel">
        <div class="panel-heading"><h2 class="panel-title">Get Your Wrapping Instructions!</h2></div>
        <div class="list-group">
          {{#each memberships}}
            <a href="/member/{{_id}}" class="list-group-item">{{santaName santa}}</a>
          {{/each}}
        </div>
      </div>
    {{/if}}
    {{#if count invites}}
      <div class="panel">
        <div class="panel-heading"><h2 class="panel-title">Accept Your Invites</h2></div>
        <div class="list-group">
          {{#each invites}}
            <a href="/invite/{{_id}}" class="list-group-item">{{santaName santa}}</a>
          {{/each}}
        </div>
      </div>
    {{/if}}
  {{else}}
    {{> signup}}
  {{/if}}
</template>

