<template name="instructions">
  {{#if currentUser}}
    {{#if santa.started}}
      <div class="panel">
        <div class="panel-heading"><h2 class="panel-title">Onion Wrapping Instructions</h2></div>
        <div class="panel-body">
          <p>Your Crypto Santa has begin, now is the time to prepare your gift!</p>
          <p>Your gift is for <strong>{{name.recipient}}</strong>,
          once your gift is ready, gift wrapped and labeled, you are ready to
          add the three layers of onion wrapping by following the instructions
          below</p> <p>While it's nice to use attactive wrapping paper to wrap
          your gift, it's best to use newspaper or scrap paper for the outer
          three laywers of wrapping</p>
          <p>Please label each layer clearly</p>
        </div>
        <div class="list-group">
        <div class="list-group-item"> 
          <span class="badge">Your Gift</span>
          <h4 class="list-group-item-heading">Recipient</h4>
          <strong class="list-group-item-text">{{name.recipient}}</strong>
          <p class="list-group-item-text">This is the person your gift
          is for. Wrap your present and label it for {{name.recipient}}</p>
        </div>
      <div class="list-group-item"> 
        <span class="badge">Layer 1</span>
        <h4 class="list-group-item-heading">Exit</h4>
        <strong class="list-group-item-text">{{name.exit}}</strong>
        <p class="list-group-item-text">This is the first layer of your onion wrapping. Re-wrap your wrapped present and label it for {{name.exit}}</p>
      </div>
      <div class="list-group-item"> 
        <span class="badge">Layer 2</span>
        <h4 class="list-group-item-heading">Middle</h4>
        <strong class="list-group-item-text">{{name.middle}}</strong>
        <p class="list-group-item-text">This is the second layer of your onion wrapping. Wrap again and label it for {{name.middle}}</p>
      </div>
      <div class="list-group-item"> 
        <span class="badge">Layer 3</span>
        <h4 class="list-group-item-heading">Entry</h4>
        <strong class="list-group-item-text">{{name.exit}}</strong>
        <p class="list-group-item-text">This is final outer layer of your onion wrapping. Label it for {{name.entry}}. This is the person you will give the onion wrapped gift too at your Crypto Santa event. Be discrete.</p>
      </div>
      </div>
      </div>
    {{else}}
  <div class="jumbotron">
    <h2>{{santa.event}} has not started yet</h2>
    <p>When the organizer starts the event your Onion Wrapping instructions will be displayed here</p>
    <p>In the meantime, you can get your gift ready.</p>
  </div>
    {{/if}}
  {{else}}
    {{> signup}}
  {{/if}}
</template>

