<template name="hello">
  <br>
  <div class="jumbotron">
    <h1>Real InfoSec For Your Secret Santa</h1>
    <p class="lead">This holiday season, take your <strong>Secret
    Santa gift exchange</strong> to a new level of information security.
    Crypto Santa helps you deliver anonymous gifts to your friends, family
    and colleagues with <strong>gift wrapping-based onion routing</strong></p>
    <p><a class="btn btn-primary btn-lg" href="/start" role="button">Get Started Now &raquo;</a></p>
  </div>
  <div class="panel">
    <div class="panel-heading"><h4 class="panel-title">How to Crypto Santa</h4></div>
    <div class="panel-body">
      <p>What is Crypto Santa?  Crypto Santa is
      a version of Secret Santa, a popular Christmas ritual also known as
      Kris Kringle where people receive gifts at a party not knowing who
      gave them.</p>
      <p>Crypto Santa is a variation of this which uses the
      technique called "Onion Routing". Onion Routing is the technique used
      by Tor, a system for browsing the web anonymously, however, instead
      for data, Crypto Santa anonymities the exchange of real gifts at your
      holiday party.</p>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-heading"><h2 class="panel-title">Step 1</h2></div>
      <div class="panel-body">Sign up and Create Your Crypto Santa Event!</div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-heading"><h2 class="panel-title">Step 2</h2></div>
      <div class="panel-body">Invite your friends, family, or colleagues to Crypto Santa!</div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-heading"><h2 class="panel-title">Step 3</h2></div>
      <div class="panel-body">Onion Wrap your gifts and Cryto Santa Party!</div>
    </div>
  </div>
  </div>
  <div class="panel">
    <div class="panel-heading"><h4 class="panel-title">Anonymous Gift Exchange</h4></div>
    <div class="panel-body">
      <p>Add a crypto wrinkle to your Kris Kringle! Make your Secret
      Santa even more secret with the magic of Onion Wrapping!</p>
      <p>How? You wrap your gift three times according to the Crypto
      Santa instructions. Each layer of wrapping has the name of someone at
      your party. Use newspaper or other scrap paper for the outer and
      intermediate layers and save the nice stuff for the inside.</p>
      <p>On each layer you will be instructed to address the present
      to another member of your party.  Bring the thrice-wrapped present to
      the party and watch it route to its destination. By the time the
      present reaches its randomly chosen recipient it will have been
      completely anonymized!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel">
        <div class="panel-heading"><h4 class="panel-title">The Gift of Privacy</h4></div>
        <div class="panel-body"> 
          <p>Edward Snowden gave us all a great gift, the information
          he has provided has revealed the alarming degree that corporations and
          state intelligence are spying us.</p>
          <p>Organizing a Crypto Santa in your home or place of work
          is a great way to raise awareness about privacy.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel">
        <div class="panel-heading"><h4 class="panel-title">Onion Wrapping</h4></div>
        <div class="panel-body">
          <p>Tor is a system for browsing the web anonymously. Tor
          uses a technique called Onion Routing to prevent web site and network
          operators from knowing what sites you are accessing.</p>
          <p>Crypto Santa implements Onion Wrapping with Gift Wrapping Paper.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h1 class="panel-title">Inspired by our allies in defending our Internet</h1>
  <hr>
  <div class="row">
    <div class="col-lg-4" style="height: 190px">
      <div class="panel">
        <div class="panel-heading"><h2 class="panel-title"><a href="http://torproject.org">Tor Project</a></h2></div>
        <div class="panel-body">
          <p>Tor is free software and an open network that helps you defend against traffic analysis.</p>
         </div>
      </div>
    </div>
    <div class="col-lg-4" style="height: 190px">
      <div class="panel">
        <div class="panel-heading"><h2 class="panel-title"><a href="http://thoughtworks.com">ThoughtWorks</a></h2></div>
        <div class="panel-body">
          <p>ThoughtWorks mission is to revolutionize software
          development while advocating for positive social change.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="height: 190px">
      <div class="panel">
        <div class="panel-heading"><h2 class="panel-title"><a href="http://telekommunisten.net">Telekommunisten</a></h2></div>
        <div class="panel-body">
          <p>Telekommunisten is an art group that confronts the social relations embedded in communications technology.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" style="height: 190px">
      <div class="panel">
        <div class="panel-heading"><h2 class="panel-title"><a href="http://cryptoparty.in">CryptoParty</a></h2></div>
        <div class="panel-body"><p>Attend a CryptoParty to learn and teach how to use basic cryptography tools. CryptoParty is free, public and fun.</p></div>
      </div>
    </div>
    <div class="col-lg-6" style="height: 190px">
      <div class="panel">
        <div class="panel-heading"><h2 class="panel-title"><a href="http://transmediale.de">transmediale</a></h2></div>
        <div class="panel-body">
          <p>transmediale sets out to explore the limits of digital
          culture's pervasive logic of CAPTURE ALL and its quantification of
          life, work and play</p>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="about">
  <h1>What Is Crypto Santa?</h1>
  <p>Crypto Santa is a version of "secret Santa" that obscures the
  origin of the gift-giver using a technique called onion routing. This
  is the same technique used by Tor, a system for browsing the web
  anonymously. However, instead of using data encryption, Cryto Santa
  uses Onion Wrapping.</p>
  <h1>What Is Onion Wrapping?</h1>
  <p>Onion Wrapping is done by wrapping your gift three extra times.
  First you, the original Santa, wrap your gift and label it with the
  person who is intended to receive the gift. Then you wrap it again,
  and add the name of another colleague, this is the exit Santa. Then
  you wrap it again and add the name of yet another colleague, this is
  the middle Santa, then finally you wrap it once more, this is the
  entry Santa.</p>
  <p>Now your Onion Wrapped gift is ready to bring to the party. Once
  there, you give the gift to the entry Santa, who unwraps the gift to
  reveal the identity of the middle Santa and pass it on, the middle
  Santa unwraps the gift to find the exit Santa, who unwraps it and
  finally gives it to the recipient.</p>
  <h1>How Does This Work?</h1>
  <p>To start your own Crypto Party event, just log in to this site,
  create your event, add the email addresses of the people you want to
  participate in it, once all the people are added, start the event and
  the system will organize all the participants so that everyone gives
  and receives a gift, and all Santas have the onion wrapping
  instructions so that they know how to wrap their gift. The system
  chooses the recipient, the exit Santa, middle Santa and entry Santa
  for them.</p>
  <p>Start your Crypto Santa event today!</p>
</template>

<template name="signup">
  <div class="jumbotron">
    <h2>Please sign up or sign in.</h2>
  </div>
</template>

<template name="invite">
  <div class="jumbotron">
  <h1>{{invite.event}}</h1>
  <p>{{invite.description}}</p>
  <p class="lead">You have been invited by {{invite.name}}</p>
  <p><a class="btn btn-primary btn-lg" href="/accept/{{invite._id}}" role="button">Accept Invitation!</a></p>
  </div>
</template>

